<section class="wrap">
  <article class="content">
    <div class="leftBar">
      <div class="home">
        <i class="radius"></i>
        <span>Mite Admin</span>
      </div>
      <ul class="leftBarBox">
        <li class="content-box" *ngFor="let item of menu;">
          <div class="group-title">{{item.title}}</div>
          <ul class="group-list" *ngFor="let child of item.child;let i=index;">
            <li class="group-item">
              <a (click)='isShowLeftChildF(child)'>
                <i nz-icon [nzType]="child.icon" nzTheme="outline" class="icon"></i>
                <span>{{child.title}}</span>
                <i *ngIf="child.child" nz-icon nzType="right" nzTheme="outline" class="fr left-icon" [ngClass]="{'deg90':child.isUnfold}"></i>
              </a>

              <div class="group-item-child" *ngIf='child.isUnfold'>
                <!-- <ng-template *ngIf="child.child"> -->
                <div *ngFor="let list of child.child">
                  <p (click)="route(list.url)">{{list.title}}</p>
                </div>
                <!-- </ng-template>                                       -->
              </div>

            </li>
          </ul>
        </li>
      </ul>


    </div>
    <div class="rightBar">
      <header class="header">
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" nz-input placeholder="" />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
        </ng-template>
        <div class="icons-list">
          <div class="icons-left">
            <i nz-icon nzType="bell" nzTheme="outline"></i>
            <i nz-icon nzType="mail" nzTheme="outline"></i>
          </div>
          <div class="line"></div>
          <div class="icons-right">
            <span>wxlMite</span>
            <i (click)="isShowMenuF() " class="radius"></i>
          </div>
        </div>
      </header>
      <ul *ngIf="isShowMenu" class="header-menu">
        <li><a><i nz-icon nzType="user" nzTheme="outline"></i>编辑个人资料</a></li>
        <li><a><i nz-icon nzType="setting" nzTheme="outline"></i>切换中英文</a></li>
        <li><a><i nz-icon nzType="unordered-list" nzTheme="outline"></i>切换主题</a></li>
        <p></p>
        <li (click)="loginOut()">
          <a><i nz-icon nzType="close-circle" nzTheme="outline">
            </i>注销</a></li>
      </ul>
      <div class="router-box">
        <router-outlet></router-outlet>
      </div>

    </div>
  </article>
</section>